@font-face{font-family:"Chewy";src:url(https://fonts.gstatic.com/s/chewy/v18/uK_94ruUb-k-wn52KjI.woff2);}
body{font-weight:bold;background-color:#FDFDFD;color:#4E4E4E;font-family:Arial,"Helvetica Neue",sans-serif;}
.mobile{display:none;}
.crtbuttons{display:flex;flex-direction:column;gap:30px;justify-content:flex-start;align-items:flex-start;position:absolute;top:1500px;}
.games{padding-top:15px;padding-left:15px;border-radius:10px;background-color:#EEEEEE;border:5px solid #4E4E4E;height:200px;width:300px;font-size:60px;text-align:left;}
.big{font-size:60px;}
.md{font-size:40px;}
.self{height:auto;width:50%;position:absolute;bottom:80px;left:10px;}
.maintxt{position:absolute;right:50px;top:100px;}
.sdown{position:absolute;right:100px;top:200px;}
.abt{display:flex;position:absolute;bottom:-125px;flex-direction:column;align-items:center;justify-content:center;}
.flw{font-family:"Chewy";font-size:clamp(85px,4.8vw,125px);color:white;-webkit-text-stroke:3px black;}
.flw span{display:inline-block;}
.button{transition:0.3s;}
.yt,.tg,.scr,.x{transform:translateY(-20px) translateX(-80px);}
.yt-bt,.tg-bt,.scr-bt,.x-bt{transform:scale(1);}
.yt-wrap{transform:translateX(-15px);}
.scr-wrap,.x-wrap{transform:translateX(-5px);}
.socials{display:flex;align-items:center;justify-content:center;gap:5px;transform:translateX(20px)}
.yt-wrap:hover .yt-bt,.tg-wrap:hover .tg-bt,.scr-wrap:hover .scr-bt,.x-wrap:hover .x-bt{transform:scale(1.1);}
.yt-wrap:hover .yt,.tg-wrap:hover .tg,.scr-wrap:hover .scr,.x-wrap:hover .x{transform:translateY(-40px) translateX(-80px);}
@media(max-width:768px){body{display:flex;flex-direction:column;align-items:center;justify-content:center;}
header{display:flex;flex-direction:column;align-items:center;justify-content:center;}
.mobile{display:block;}
.self{position:static;width:420px;height:auto;}
.maintxt{font-size:40px;position:static;}
.sdown{font-size:40px;position:static;transform:translateY(-45px) translateX(-25px);}
.crtbuttons{position:static;}
.abt{position:static;transform:translateY(-120px);}
.flw{font-size:73px;-webkit-text-stroke:2.5px black;white-space:nowrap;}
.info{font-size:25px;}
.crtbuttons{transform:translateX(-50px);}
.games{padding-top:15px;padding-left:15px;border-radius:10px;background-color:#EEEEEE;border:5px solid #4E4E4E;height:100px;width:180px;font-size:40px;text-align:left;}
.yt-bt,.tg-bt,.scr-bt,.x-bt{width:70px;height:auto;}
.yt,.tg,.scr,.x{width:40px;height:auto;transform:translateX(20px) translateY(-65px);}
.yt-wrap:hover .yt,.tg-wrap:hover .tg,.scr-wrap:hover .scr,.x-wrap:hover .x{width:40px;height:auto;transform:translateX(20px) translateY(-75px);}
.yt-wrap:hover .yt-bt,.tg-wrap:hover .tg-bt,.scr-wrap:hover .scr-bt,.x-wrap:hover .x-bt{width:70px;height:auto;transform:translateX(0px) scale(1.1);}
.tg{transform:translateX(10px) translateY(-65px);}
.tg-wrap:hover .tg{transform:translateX(10px) translateY(-75px);}
.scr{transform:translateX(15px) translateY(-65px);}
.scr-wrap:hover .scr{transform:translateX(15px) translateY(-75px);}
.tg-bt{transform:translateX(-10px) translateY(-11px);}
.tg-wrap:hover .tg-bt{transform:translateX(-10px) translateY(-11px) scale(1.1);}
.socials{transform:translateX(12px);}}